.suggestions-container {
    background-color: beige;
    border: 1px solid cadetblue;
    width: 15rem;
    max-width: 90%;
    padding: 0;
    margin-top: 5px;
    border-radius: 5px;
}

#suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestion {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid cadetblue;
    text-align: left;
}

.suggestion:hover {
    background-color: cadetblue;
    color: white;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.cadetBlueBackground {
    background-color: cadetblue;
}

.beigeBackground {
    background-color: beige;
}