<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head::header}"></head>
<body>
<nav class="navbar navbar-light bg-light" th:fragment="search">
    <form class="form-inline">
        <label for="searchUsername"></label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchUsername" name="searchUsername">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
    <p th:if="${httpServletRequest.userPrincipal != null}"
       th:text="'Welcome, ' + ${httpServletRequest.userPrincipal.name}"></p>
    <a href="/logout">Logout</a>
</nav>
</body>
</html>