<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form th:action="@{/register}" th:object="${registeredUserDTO}" th:method="POST">
        <div>
            <label for="username"></label>
            <input type="text" name="username" id="username" th:field="*{username}" placeholder="Enter Username">
            <div th:if="${#fields.hasErrors('username')}"
                 data-err-alert>
                <span th:errors="*{username}"></span>
            </div>
        </div>
        <div>
            <label for="email"></label>
            <input type="email" name="email" id="email" th:field="*{email}" placeholder="Enter Email">
            <div th:if="${#fields.hasErrors('email')}"
                 data-err-alert>
                <span th:errors="*{email}"></span>
            </div>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" name="password" id="password" th:field="*{password}" placeholder="Enter Password">
            <div th:if="${#fields.hasErrors('password')}"
                 data-err-alert>
                <span th:errors="*{password}"></span>
            </div>
        </div>
        <div>
            <label for="confirmPassword"></label>
            <input type="password" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password">
            <div th:if="${#fields.hasErrors('confirmPassword')}"
                 data-err-alert>
                <span th:errors="*{confirmPassword}"></span>
            </div>
        </div>
        <button type="submit">Register</button>
        <a type="button" href="/login">Login</a>
    </form>
</body>
</html>